In [29]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://Iron_Ck:55252555_Ck@mlops-mongodb-cluster1.etxtatl.mongodb.net/?retryWrites=true&w=majority&appName=MLOps-MongoDB-Cluster1"
# Create a new client and connect to the server
client = MongoClient(uri)

In [30]:
# MongoDB - Client - Database - Collection - record(dataset)

In [31]:
# Create Database in mongoDB 
# Create database in client
# name tha database while client contain database 
database=client["Vcreatek"]

In [32]:
# create collection in database
collection=database["session1"]

In [33]:
# Data in MongoDB is always in dictionary format, which is always in key and value format.
# Insert only one data in collection
data={

    "coursename":"mlops",
    "instrutorname":"chakrapani",
    "modeofsession":"english"
}

In [34]:
# Now data is avalable in collection
data

{'coursename': 'mlops',
 'instrutorname': 'chakrapani',
 'modeofsession': 'english'}

In [35]:
# Insert or deploy data in mongodb
# Now data is avalable in collection
collection.insert_one(data)

InsertOneResult(ObjectId('66a0fbeff3f7f1a5f7ce2909'), acknowledged=True)

In [37]:
collection.find()

In [38]:
all_record=collection.find()

In [39]:
for record in all_record:
    print(record)

{'_id': ObjectId('66a0fbeff3f7f1a5f7ce2909'), 'coursename': 'mlops', 'instrutorname': 'chakrapani', 'modeofsession': 'english'}

In [40]:
# Insert many data in collection
collection.insert_many(
    [
        {

    "coursename":"mlops",
    "instrutorname":"chakrapani",
    "modeofsession":"english"
},

{

    "coursename":"ats",
    "instrutorname":"iron_ck",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('66a10c18f3f7f1a5f7ce290a'), ObjectId('66a10c18f3f7f1a5f7ce290b')], acknowledged=True)

In [ ]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [ ]:
#call the mongodb connection 
client_url =  "mongodb+srv://snshrivas:Snshrivas@cluster0.u46c4.mongodb.net/?retryWrites=true&w=majority"   # I have created a demo connection for you to understand. You can use your own.
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [ ]:
mongo=mongodb_operation(client_url,database,collection_name)

In [ ]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [ ]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)